<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="center">{{title}}</h1>
      <img class="img-responsive center-block"src="./images/404_1.gif" alt="Where am I?" />
      <p>{{message}}</p>
      <br>
      <a href='/'><button class="btn btn-primary center-block" type="button" name="Go Home">Go back home</button></a>
    </div>
  </div>
</div>
