<div class="container">
  <h1>My Charts</h1>
  <p>View, Update, Delete, and share your saved charts.</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Chart Name</th>
        <th></th>
        <th>Edit or Share</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
