<div class="container">
  <h1>{{username}}'s Charts</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Chart Name</th>
        <th><center>Edit</center></th>
        <th><center>Export</center></th>
        <th><center>Share</center></th>
        <th><center>Remove</center></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Chart Name Goes Here</td>
        <td><center><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></center></td>
        <td><center><a href="#"><span class="glyphicon glyphicon-floppy-save"></span></center></a></td>
        <td><center><a href="#"><span class="glyphicon glyphicon-share"></span></a></center></td>
        <td><center><a href="#"><span class="glyphicon glyphicon-trash"></span></a></center></td>
      </tr>
      <tr>
        <td>Chart Name Goes Here</td>
        <td><center><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></center></td>
        <td><center><a href="#"><span class="glyphicon glyphicon-floppy-save"></span></center></a></td>
        <td><center><a href="#"><span class="glyphicon glyphicon-share"></span></a></center></td>
        <td><center><a href="#"><span class="glyphicon glyphicon-trash"></span></a></center></td>
      </tr>
      <tr>
        <td>Chart Name Goes Here</td>
        <td><center><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></center></td>
        <td><center><a href="#"><span class="glyphicon glyphicon-floppy-save"></span></center></a></td>
        <td><center><a href="#"><span class="glyphicon glyphicon-share"></span></a></center></td>
        <td><center><a href="#"><span class="glyphicon glyphicon-trash"></span></a></center></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
