<div class="container">
<div class="row">
    <!-- your first col -->
    <div class="col-sm-8 col1">
            <center><h1>NAME YOUR CHART HERE</h1></center>
            <hr/>
        <!-- your row inside the col -->
        <div class="row">
            <!-- your subcol inside the col -->
            <div class="col-sm-3"><img src="http://placehold.it/150x150"></div>
            <div class="col-sm-3"><img src="http://placehold.it/150x150"></div>
            <div class="col-sm-3"><img src="http://placehold.it/150x150"></div>
            <div class="col-sm-3"><img src="http://placehold.it/150x150"></div>
        </div>
    </div>
    <div class="col-sm-4 col2">
        <div class="col-sm-12">Search for any album here. Then click-drag the element to your chart on the left. For best results, type in both the album name and the artist!</div>
        <div id="example"></div>

    </div>
</div>
</div>


<!--
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <center><h1>NAME YOUR CHART HERE</h1></center>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"><img src="http://placehold.it/150x150"></div>
    <div class="col-md-2"><img src="http://placehold.it/150x150"></div>
    <div class="col-md-2"><img src="http://placehold.it/150x150"></div>

  </div><!close row-->
<!-- </div><!close container-->

  <!-- <div class="container">
    <div class="row">

      <div class="col-md-4"><center>Search for any album here. Then click-drag the element to your chart on the left. For best results, type in both the album name and the artist!</center>
        <hr />
      </div>
    </div><!close row-->
  <!-- </div><!close container-->
