<div class="container" id="chart-area">
<div class="row">
    <!-- your first col -->
    <div class="col-sm-8 col1 center">
      <div id="zone-container">

      </div><!--close zone container -->

      <button type="button" id="build-btn" class="btn btn-warning btn-lg">Load New Rows</button>

      <button id="load-btn" type="button" class="btn btn-success btn-lg">Load Latest Chart</button>
    </div>


  </div>
</div>

<script type="text/javascript" src="/javascripts/chartview.js"></script>
