<div class="container" id="chart-area">
<div class="row">
    <!-- your first col -->
    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-8 col1 center">
      <div id="zone-container">
            <h1 class="chartname" id="title">Chart Name</h1>
        <!-- your row inside the col -->
        <div class="row">
          <h4 class="genre" id="genre">Genre / Style (optional)</h4>
            <div id="0" class="dropzone"></div>
            <div id="1" class="dropzone"></div>
            <div id="2" class="dropzone"></div>
            <div id="3" class="dropzone"></div>
        </div>
        <br>
      </div><!--close zone container -->
      <br>
      <button type="button" id="build-btn" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-triangle-bottom"></span> Load New Rows</button>

      <button id="save-btn" type="button" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-floppy-save"></span> Save My Chart</button>

      <div id="save-alert-container">
        <div id="save-alert">
          <strong>Success!</strong> Your chart has been saved! <a href="/account">Click here to go to my Account.</a>
        </div>
      </div>

      <br/>
      <br/>
      <div id="delete-box" class="dropzone trash"></div>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-4 col2 center">
        <div class="col-sm-12">
          <div class="jumbotron editor">
            <h2 class="darker">Title Editor</h2>
            <center><div id="title-editor" style="height: 50px; width: 178px; color: black"></div></center>
          </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-4 col2 center">
        <div class="col-sm-12">
          <div class="jumbotron bottompad">
            <h2 class="darker">Album Search</h2>
            <p class="searchtext">Search for an album, then click-drag the result to the chart on the left. For best results, type in both <b>artist name</b> and <b>album name</b>.</p>

            <center><div id="example" style="height: 400px; width: 178px; color: black"></div></center>
          </div>
        </div>


    </div>
  </div>
</div>
