<div class="container" id="chart-area">
<div class="row">
    <!-- your first col -->
    <div class="col-sm-8 col1">
            <center><h1>NAME YOUR CHART HERE</h1></center>
            <hr/>
        <!-- your row inside the col -->
        <div class="row">
          <h4>Genre / Style Here (Optional)</h4>
            <!-- your subcol inside the col -->
            <div class="dropzone"></div>
            <div class="dropzone"></div>
            <div class="dropzone"></div>
            <div class="dropzone"></div>
        </div>
        <br>
        <div class="row">
            <!-- your subcol inside the col -->
            <div class="dropzone"></div>
            <div class="dropzone"></div>
            <div class="dropzone"></div>
            <div class="dropzone"></div>
        </div>
        <br>
        <center><button type="button" id="build-btn" class="btn btn-warning">Load additional rows</button></center>
    </div>
    <div class="col-sm-4 col2">
        <div class="col-sm-12"><center>Search for any album here. Then click-drag the element to your chart on the left. For best results, type in both the album name and the artist!</center></div>
        <br/>
        <center><div id="example" style="height: 400px; width: 178px"></div></center>

          <!-- Indicates a successful or positive action -->
        <center><button type="button" class="btn btn-success">Save My Chart</button></center>

    </div>
</div>
</div>


<!--
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <center><h1>NAME YOUR CHART HERE</h1></center>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"><img src="http://placehold.it/150x150"></div>
    <div class="col-md-2"><img src="http://placehold.it/150x150"></div>
    <div class="col-md-2"><img src="http://placehold.it/150x150"></div>

  </div><!close row-->
<!-- </div><!close container-->

  <!-- <div class="container">
    <div class="row">

      <div class="col-md-4"><center>Search for any album here. Then click-drag the element to your chart on the left. For best results, type in both the album name and the artist!</center>
        <hr />
      </div>
    </div><!close row-->
  <!-- </div><!close container-->
