<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="center">Easily create and share your own music flowcharts.</h1>
      <img src="/images/core.jpg" alt="mu core" width="100%" class="home-image center"/></div>

      <div class="row">
        <div class="col-sm-4 col-xs-12 center">
          <h3>Build your chart fast</h3>
          <p class="reduce">Search for, then drag and drop your favorite albums to a chart.</p>
        </div>
        <div class="col-sm-4 col-xs-12 center">
          <h3>Simple user interface</h3>
          <p class="reduce">Rearrange, categorize, and save your charts by genre or artist.</p>
        </div>
        <div class="col-sm-4 col-xs-12 center">
          <h3>Save and share</h3>
          <p class="reduce">Share your charts with friends online or export an image file.</p>
        </div>
      </div><!-- end row -->
      <hr />

      <div class="jumbotron center">
        <p class="about">Inspired by <a href="http://4chanmusic.wikia.com/wiki/Essential_Charts">Essential Charts</a>, /Mu/sic Chart Generator is an app that allows users to build and share music album flowcharts. This generator is an easy way to visually categorize your musical tastes. Registration is free. <br><strong>Turn on, tune in, and chart out.</strong></p>
        <a href="/login"><button type="button" class="btn btn-lg btn-primary">Get Started Now</button></a>
      </div>
    </div><!--close column -->
  </div><!--close row -->


</div><!-- end container -->
