<div class="container">
  <div class="row">
    <div class="col-12-md">
      <center><h1>Easily create and share your own music flowcharts.</h1></center>
      <center><img src="/images/core.jpg" alt="mu core" width="100%" class="home-image"/></center>
      <p class="about">Inspired by <a href="http://4chanmusic.wikia.com/wiki/Essential_Charts">Essential Charts</a>, /Mu/sic Chart Generator is an app that allows users to build and share music album flowcharts. This generator is an easy way to visually categorize your musical tastes. Registration is free. Turn on, tune in, and chart out.</p>
    </div><!--close column -->
  </div><!--close row -->

    <div class="row">
      <div class="col-4-md">
      <h3>Build your chart fast</h3>
      <p>Search for, then drag and drop your favorite albums to a chart.</p>
      </div><!--close column -->

      <div class="col-4-md">
      <h3>Simple user interface</h3>
      <p>Rearrange, categorize, and save your charts by genre or artist.</p>
      </div><!--close column -->

      <div class="col-4-md">
      <h3>Save and share</h3>
      <p>Share your charts with friends online or export an image file.</p>
      </div><!--close column -->

    </div><!--close row -->
</div><!--close container -->
