<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}



    <footer id="example"></footer>
    <!-- <div id="example1"></div> -->



    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="./javascripts/lastfm.api.cache.js"></script>
    <script type="text/javascript" src="./javascripts/lastfm.api.js"></script>
    <script type="text/javascript" src="./javascripts/lastfm.api.md5.js"></script>
    <script type="text/javascript" src="./javascripts/components/albumsearchbar.js"></script>



  </body>
</html>
