p {
  text-align: center;
}
#draggable {
  width: 200px;
  height: 20px;
  text-align: center;
  background: white;
}
.home-image {
  padding: 3%;
}
.about {
  font-size: 24px;
  text-align: center;
  color: #222222;
}

.album-div {
  height: 248px;
  width: 176px;
  border: 1px solid black;
  background-color: black;
}
.album-div p {
  color: white;
  font-size: 14px;
  padding-top: 5px;
}
.center {
  text-align: center;
}
.reduce {
  font-size: 16px;
}
#zone-container {
  background-color: black;
  padding: 15px;
}
.chartname {
  color: white;
  text-transform: uppercase;
}
.genre {
  color: white;
}
#delete-box {
  width: 300px;
  height: 100px;
}
.dropzone {
  width: 178px;
  height: 250px;
  display: inline-block;
  overflow: hidden;
  background-image: url("../images/placeholder.png");
}
.trash {
  background-image: url("../images/trash.png");
  border: 1px dashed white;
}
.trash:hover {
  border: 1px dashed red;
}
.logo {
  color: #cc0033;
}
.darker {
  color: #222222;
}
.artistForm {
  color: #222222;
}
.bottompad {
  height: 510px;
  padding-top: 5px;
  position: fixed;
  width: 330px;

  .searchtext {
    font-size: 14px;
    text-align: center;
    color: #222222;
  }
}

.editor {
  padding-top: 5px;
  width: 330px;
}

#save-alert {
  display:none;
  margin-top: 12px;
}

#save-alert-container {
  height: 30px;
  overflow: hidden;

}


.album-name {
  font-style: italic;
}
.artist-name {
  font-style: italic;
  margin-top: -8px;
}
.navbar-default .navbar-brand {
  color: #337ab7;
}
button,
input,
optgroup,
select,
textarea {
  color: black;
  font: inherit;
  margin: 0;
}
#user-chart td {
  vertical-align: top;
  padding-top: 10px;
  width: 285px;
}
#user-chart thead {
  border-bottom: 1px solid white;
}
.green {
  text-decoration: underline;
}
