p {
    text-align:center;
  }

.home-image {
  padding: 3%;
}

.about {
  font-size: 24px;
  text-align: center;
}

.album-div {
   height: 248px;
   width: 176px;
   border: 1px solid black;
   background-color: black;

   p{
     color: white;
     font-size: 14px;
     padding-top: 5px;
   }
}

#draggable {
  width: 200px;
  height: 20px;
  text-align: center;
  background: white;
}

.dropzone {
  width: 178px;
  height: 250px;
  background: #333;
  display: inline-block;
  overflow: hidden;
  background-color: black;
  border: 1px dashed white;
}

.center {
  text-align: center;
}

.reduce {
  font-size: 16px;
}

#zone-container {
  background-color: black;
  padding: 15px;
}

.chartname {
  color: white;
  text-transform: uppercase;
}

.genre {
  color:white;
}

.delete-box{
  background-color:#333;
}
